@font-face {
    font-family: Quattrocento-Regular;
    src: url(../fonts/Quattrocento-Regular.ttf);
}
@font-face {
    font-family: Atlantic_Cruise-Demo;
    src: url(../fonts/Atlantic_Cruise-Demo.ttf);
}
@font-face {
    font-family: blake;
    src: url(../fonts/blake.ttf);
}
@font-face {
    font-family: Origin-Regular;
    src: url(../fonts/Origin-Regular.ttf);
}
@font-face {
    font-family: Oswald-Bold;
    src: url(../fonts/Oswald-Bold.ttf);
}

